/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.nav:hover{
	color: #e74c3c;
  -webkit-transition: color .2s;
	-moz-transition: color .2s;
  -o-transition: color .2s;
	transition: color .2s;

}

.navlinks li{
	display:inline;
	margin-left: 1em;
}

#chang101{
	display:none;
}

#selfie{
	text-align: left;
}

.item {
	overflow:hidden;
	width:25%;
	float: left;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
}

.item:before {
    content: "";
    display: block;
    padding-top: 75%;
}

.description  {
	background-color: rgba(255, 0, 0, 0.6);
  z-index: 1;

  position: absolute;
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;

  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);

  -webkit-transition: transform 350ms ease-in-out;
  -moz-transition: transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;

  /* Text styling */
  font-size: 14px;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.item:hover .description {
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);

}

/*.item:hover{
    -webkit-filter: grayscale(100%);
    transition: -webkit-filter .2s;
    -webkit-transform: translateZ(0); 
}*/

.annotation {
	border-top: 5px solid black;
	padding-top: 5px;
}

.annotation p{
	font-size: 14px;
	line-height: 22px;
}

.info{
	float: right; 
	display: inline; 
	margin-left: 10px; 
	margin-right: 10px; 
}

.columns img{
	width: 100%;
	padding-bottom: 20px;
	background-color: #fff;
}

.emphasis{
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase; 
	font-weight: 800; 
	font-family: "Raleway", "Proxima Nova", "Helvetica", sans-serif;
}

.fancy{
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
	font-family: "PT Serif", serif;
}

.callout{
	margin-left: 22px ;
}

.callout:before{
	content: '\25C0';
	margin-left: -22px;
	margin-right: 8px;
}

.video-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
	margin-bottom:30px;
} 

img.greyscale{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

.video-container iframe, 
.video-container object, 
.video-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; }

.footer{
	width: 100%;
	height: 70px;
}

.captions{
	width: 100%;
	background-color: #222;
	color: #fff;
	margin: 0 0 20px 0;
}

.captions img{
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.captions p{
	padding: 5px 10px 10px 15px;
	font-family: "Raleway", "Proxima Nova", "Helvetica", sans-serif;
	font-weight: 600;
	font-size: 14px;
}

.borders{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.borderfull{
	border: 1px solid #ddd;
}

.credit {
	color: #999;
	font-style: italic;

}

#fiberblocks{
	background-image: url('../images/gfiber_blocks_before.png');
	min-height: 100px;
	width: 100%;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	-webkit-transition: background-image .5s;
	-moz-transition: background-image .5s;
    -o-transition: background-image .5s;
	transition: background-image .5s;
}


#fiberblocks:hover{
	background-image: url('../images/gfiber_blocks_after.png');
	-webkit-transition: background-image .5s;
	-moz-transition: background-image .5s;
    -o-transition: background-image .5s;
	transition: background-image .5s;
}

#databallflow{
	background-image: url('../images/databall_dashboard_flow1.png');
	min-height: 100px;
	width: 100%;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	-webkit-transition: background-image .5s;
	-moz-transition: background-image .5s;
    -o-transition: background-image .5s;
	transition: background-image .5s;
}
#databallflow:hover{
	background-image: url('../images/databall_dashboard_flow2.png');
	-webkit-transition: background-image .5s;
	-moz-transition: background-image .5s;
    -o-transition: background-image .5s;
	transition: background-image .5s;
}

.show{
	display: none;
}

.show2{
	display: none;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.item {
		overflow:hidden;
		width:50%;
		float: left;
		position: relative;
	}

	.item:before {
	    content: "";
	    display: block;
	    padding-top: 75%; 
	}

	#selfie{
		text-align: center;
		margin-bottom: 10px;
	}

	.annotation {
		border-top: none;
		padding-top: 0;
	}

	.extra{
		display:none !important;
	}

	.show{
		display: block;
	}

	.show2{
		display: inline-block;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.extra{
		display:none !important;
	}

	.captions p{
		font-size: 12px;
		line-height: 15px;
	}

	#selfie{
		text-align: center;
		margin-bottom: 10px;
	}

	.show{
		display: block;
	}

	.show2{
		display: inline-block;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.item {
		overflow:hidden;
		width:100%;
		float: left;
		position: relative;
	}

	.item:before {
	    content: "";
	    display: block;
	    padding-top: 75%; 
	}

	#selfie{
		text-align: center;
		margin-bottom: 10px;
	}

	.extra{
		display:none !important;
	}

	.captions p{
		font-size: 12px;
		line-height: 15px;
	}

	.description p{
		display: none;
	}

	.description{
		background-color: rgba(255, 0, 0, 0);
	    transform: translateY(0%);
	    -moz-transform: translateY(0%);
	    -o-transform: translateY(0%);
	    -webkit-transform: translateY(0%);
	}

	.description h6{
		color: #fff;
		background-color: rgba(255, 0, 0, .6);
		border: 0;
	}

	.show{
		display: block;
	}

	.show2{
		display: inline-block;
	}
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/