/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.nav:hover{
	color: #e74c3c;
  -webkit-transition: color .2s;
	-moz-transition: color .2s;
  -o-transition: color .2s;
	transition: color .2s;

}

.navlinks li{
	display:inline;
	margin-left: 1em;
}

#chang101{
	display:none;
}

#selfie{
	/*text-align: left;*/
}

.item {
	overflow:hidden;
	width:25%;
	float: left;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
}

.item:before {
    content: "";
    display: block;
    padding-top: 75%;
}

.photography 	.description { background-color: rgba(146, 71, 71, 0.6); }
.code 				.description { background-color: rgba(56, 88, 88, 0.6); }
.film					.description { background-color: rgba(143, 150, 129, 0.6); }

.description  {
  z-index: 1;

  position: absolute;
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;

  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);

  -webkit-transition: transform 350ms ease-in-out;
  -moz-transition: transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;

  /* Text styling */
  font-size: 14px;
  padding: 70px 20px;
  text-align: center;
  color: #fff;
}
	h6 {
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .1em;
		border: 2px solid #fff;
		margin-bottom: 10px;
		display: inline-block;
		padding: 3px 8px 3px 8px;
	}

.item:hover .description {
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);

}


.show{
	display: none;
}

.show2{
	display: none;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.item {
		overflow:hidden;
		width:50%;
		float: left;
		position: relative;
	}

	.item:before {
	    content: "";
	    display: block;
	    padding-top: 75%; 
	}

	#selfie{
		text-align: center;
		margin-bottom: 10px;
	}

	.annotation {
		border-top: none;
		padding-top: 0;
	}

	.extra{
		display:none !important;
	}

	.show{
		display: block;
	}

	.show2{
		display: inline-block;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.extra{
		display:none !important;
	}

	.captions p{
		font-size: 12px;
		line-height: 15px;
	}

	#selfie{
		text-align: center;
		margin-bottom: 10px;
	}

	.show{
		display: block;
	}

	.show2{
		display: inline-block;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.item {
		overflow:hidden;
		width:100%;
		float: left;
		position: relative;
	}

	.item:before {
	    content: "";
	    display: block;
	    padding-top: 75%; 
	}

	#selfie{
		text-align: center;
		margin-bottom: 10px;
	}

	.extra{
		display:none !important;
	}

	.captions p{
		font-size: 12px;
		line-height: 15px;
	}

	.description p{
		display: none;
	}

	.description{
		background-color: rgba(255, 0, 0, 0);
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transform: translateY(0%);
	}

	.description h6{
		color: #fff;
		background-color: rgba(0, 0, 0, .7);
		border: 0;
	}

	.show{
		display: block;
	}

	.show2{
		display: inline-block;
	}
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/