/* Removes default page margins */
html, body, h1, div, a, p, ul, nav, li{
	margin: 0;
	padding: 0;
}

/* Header */

	#header {
		top:0;
		left:0;
		cursor: default;
		z-index: 10000;
		height:60px;
		width:100%;
		background:transparent;
		position:fixed;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
	
	}
	#header-container.alt {
		color:white;
	}
		#header #header-container {
			width:97%;
			margin: 0 auto;
			height:100%;

		}
			#header-container #logo {
				float:left;
				font-family: Futura;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-weight: 100;
				font-size:1.5em;
				position: relative;
				top: 50%;
				transform: translateY(-50%);

			}
				#header #logo a {
					text-decoration: none;
					color: inherit;
				}


		#header-container nav {
			float:right;
			height:100%;
			padding-top: 15px; 
		}
			
			#header-container nav ul {
				text-transform: uppercase;
				font-family: Helvetica Neue;
				font-weight: bold;
				font-size: 0.8em;
				position: relative;
				top: 8px;
				/*position: relative;
				top: 50%;
				transform: translateY(-50%);*/


			}
				#header-container nav ul li {
					display: inline-block;
					list-style: none;

				}

					#header-container nav ul li a {
						color: inherit;
						padding: 0.6em 0.75em;
						text-decoration: none;
						opacity: 0.6;
					}
						#header-container nav ul li a:hover {
							border-bottom: 2px solid black;
							-moz-transition: all 0.2s ease-in-out;
							-webkit-transition: all 0.2s ease-in-out;
							-o-transition: all 0.2s ease-in-out;
							-ms-transition: all 0.2s ease-in-out;
							transition: all 0.2s ease-in-out;
							opacity: 1;
						}
						#header-container.alt nav ul li a:hover {
							border-bottom: 2px solid white;
						}

/* Banner */
#banner {
	/*background-image: url("")*/
	background-attachment: fixed;
	backround-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	position: relative;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background:grey;

	
}
	#banner.index {
		
		/*background:grey;*/

	}
	#banner.photo {
		background: black;
	}

	#banner .inner {
		padding:6.5em 0;
		

		
	}

/* Icons */
	.icons {


	}
		.icons li {
			display: inline-block;
			list-style: none;
		}

	.icon	{
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		display: inline-block;
		font-size: 1.25em;
		left: 0;
		text-decoration: none;
		width: 1.5em;
		font-family: FontAwesome;
		color: black;
		opacity: 0.6;
	}
		.icon:hover {
			opacity: 1.0;
			border-bottom: 2px solid black;
			padding-bottom: 0.2em;
		}
		.icon > .label {
			display:none;
		}

/* Avid Description */
#avid {

	font-family: Helvetica Neue;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(0,0,0,0.6);
	overflow: hidden;
	width:100%;
	margin:0 auto;

}
	#ticker {
		text-align: left;
		overflow:auto;
		
		
	}
		#ticker:before {
			content: '';
			position: absolute;
			bottom:0;
			width:140px;
			border-bottom:2px solid black;
			opacity: 0.6;
		}
		#ticker ul {
		}
			#ticker ul li {
				list-style-type: none;
			}

	#avid-text {
		display:inline-block;
		position: relative;
		font-size:1.4em;
		
	}
		#avid-text p {
			line-height:1.1em;

		}

/* Body */
#main {
	width:100%;
	background: grey;
	clear:both;
	height:300px;
}
	#main .inner {
		width:97%;
		margin:0 auto;
		background: white;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
	}








