/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Resets Kinda
- Top Navigation
- Isotope Grid
- Isotope Sort
- Banners
- Footer
- Responsive Stuff (Media Queries)
*/

/* Resets Kinda
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
	min-height: 100% !important;
  height: 100%;
}

/* Top Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
	position: fixed;
	z-index: 100000000;
	width: 100%;
	background: none;

	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

nav.primary ul {
	float: right;
	margin: 0px;
}
nav.primary ul li {
	margin: 0px;
}

/*nav.primary select {
	display: none;
	width:  100%;
	height: 28px;
	margin: 21px 0;
}*/

nav.primary {
	padding: 0 25px;
}

/* Added Classes by jQuery */
.navbar2 {
	position: fixed;
	z-index: 100000000;
	width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
}
	.navbar2 .primary ul li a {
	display: inline-block;
	line-height: 49px;
	padding: 0 14px 0 14px;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.08em;
}
	
	.navbar2 a.logo {
		display: inline-block;
		line-height: 49px;
		padding: 0 14px 0 14px;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		letter-spacing: 0.08em;
		color: black;
		cursor: pointer;
	}



nav.primary ul li {
	display: inline;
	float: left;
	position: relative;
}

.navbar .primary ul li a {
	display: inline-block;
	line-height: 49px;
	padding: 14px 14px 0 14px;
	color: #424242;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.08em;
}

.navbar a.logo {
	display: inline-block;
	line-height: 49px;
	padding: 14px 14px 0 14px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.08em;
	background: #424242;
	color: #ebebeb;
	cursor: pointer;
}



.navbar .primary ul li a:hover {
	background: #424242;
	color: #ebebeb;
	cursor: pointer;
}

/*sub menu*/
/*nav.primary ul ul {
	opacity: 0; 
  filter: alpha(opacity=0); 

	position: absolute;
	top:100%;
	left: 0;
	z-index: 999999;
	
	height: 0px;
	overflow: hidden;
	
	min-width: 100%;
	
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	-ms-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;
	
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}

nav.primary ul li span {
	display: none;
}

nav.primary ul li:hover ul {
	opacity: 10; 
  filter: alpha(opacity=100); 
  	
	height: auto;
	overflow: auto;
	
	display: block;
}

nav.primary ul ul li {
	width:140px;
	float: none;
	display: list-item;
	border-bottom: 1px solid #383737;
}

nav.primary ul ul li a {
	display: block;
	line-height: 35px;
	text-transform: none;
	position: relative;
	z-index: 999999;
}*/
/*
nav.primary ul li:hover > a {
	background: #424242;
}*/


/* Isotope Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.thumbs {
	z-index:2;
}

.thumbnail {
	height: 100%;
	position:absolute;
	width: auto;
}

.photography .item,
.film .item {
	background-size: cover;
	background-position: center;
}

.code .item {
	background-size: cover;
	background-position: left left;
}

.item .type {
	position: relative;
	top: 0;
	left: 5%;
	height:12%;
	width: 8%;
	padding: 4% 2% 0 2%;
	background-color: white;
	display: block;
	margin-bottom: 10%;

}
	.item .type i {
		color: black;
	}

.item {
	overflow:hidden;
	height:225px;
	width:25%;
	display: block;
	float: left;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
}

.photography 	.description { background-color: rgba(146, 71, 71, 0.6); }
.code 				.description { background-color: rgba(56, 88, 88, 0.6); }
.film					.description { background-color: rgba(143, 150, 129, 0.6); }

.description  {
  z-index: 1;

  height: 100%;
  width: 100%;

  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);

  -webkit-transition: transform 350ms ease-in-out;
  -moz-transition: transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;

  /* Text styling */
  font-size: 14px;
  text-align: center;
  color: #fff;
}
	.description h6 {
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .1em;
		border: 2px solid #fff;
		margin-bottom: 10px;
		display: inline-block;
		padding: 3px 8px 3px 8px;
	}
	.description p {
		padding: 0 20px;

	}

.item:hover .description {
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.isotope,
.isotope .isotope-item {
  
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/* Isotope Sort
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#filters {
	list-style-type: none;
	width: 100%;
	text-align: center;
}
	#filters #sort {
		color: white;
		background-color: #424242;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		letter-spacing: 0.08em;
		padding: 10px 0;

	}
	
#bottom-bar { 
	width: 12%;
	position: fixed;
	left: 50%;
	margin: 0 0 0 -6%; 
	/*bottom: -60px;*/
	top: 94%;
	background-color: white;
	z-index: 100;

	-webkit-transition: top 350ms ease-in-out;
  -moz-transition: top 350ms ease-in-out;
  -o-transition: top 350ms ease-in-out;
  transition: top 350ms ease-in-out;
}
	#bottom-bar:hover {
		cursor: pointer;
		/*bottom: -2%;*/
		top: 86%;
	}

/*ul #filter-icons li a {
	display: inline-block;
	width: 20%;
	
}*/

#filters li a {
	padding:  0 5px;
	color: #424242;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.08em;

}

/* Banners
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
	background: url(https://unsplash.imgix.net/photo-1418065460487-3e41a6c84dc5?q=75&fm=jpg&s=127f3a3ccf4356b7f79594e05f6c840e) fixed;
	background-position: center;
	/*border-bottom: 10px solid white;*/
	width:100%;
	height: 475px;

}

	.inner {
		display:block; 
		width: 30%;
		position: relative; 
		padding: 30px;
		background-color: #424242;
		color: white;
		top: 30%; 
	}

	.inner2 {
		text-align: center;
		width: 30%;
		position: fixed;
		padding: 30px 0;
		left: 50%;
		margin: 0 0 0 -15%; 
		top: 25%;
		
		color: white;
		background-color: #424242;
		z-index: 1;

	}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navlinks {
	list-style-type: none;
}

.navlinks li{
	display:inline;
	padding: 0 5px;
}

/* Responsive Stuff (Media Queries)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	#selfie{
		text-align: center;
		margin-bottom: 10px;
	}

	.annotation {
		border-top: none;
		padding-top: 0;
	}

	.extra{
		display:none !important;
	}

	.show{
		display: block;
	}

	.show2{
		display: inline-block;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.extra{
		display:none !important;
	}

	.captions p{
		font-size: 12px;
		line-height: 15px;
	}

	#selfie{
		text-align: center;
		margin-bottom: 10px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	#selfie{
		text-align: center;
		margin-bottom: 10px;
	}

	.description p{
		display: none;
	}

	.code .description,
	.photography .description,
	.film .description {
		background: transparent;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transform: translateY(0%);
	}

	/*trying */
	.item {
		height:260px;
	}

	/*asld;fasdf*/

	.description h6{
		color: #fff;
		background-color: rgba(0, 0, 0, .7);
		border: 0;
	}

}